@font-face {
    font-family: 'freeSans';
    src: url(../fonts/FreeSans.ttf);
    font-style: normal;
}

body {
    font-family: freeSans;
    height: 100%;
    margin: 0;
}

.gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header header" "leftContainer rightContainer" "footer footer";
}


/*
.off-canvas .off-canvas-sidebar {
    width: 16rem;
}
*/

.header {
    grid-area: header;
}

.leftContainer {
    grid-area: leftContainer;
}

.rightContainer {
    grid-area: rightContainer;
}

.footer {
    grid-area: footer;
}

#variablesListField {
    width: inherit;
}

.is-rounded {
    border-radius: 2%;
}

::-webkit-scrollbar {
    display: none;
}