<div class="card">
    <div class="card-content">
        <p class="title is-1" id="variableName">X</p>
        <div class="control has-icons-left">
            <p class="title is-6">Type:</p>
            <div class="select">
                <select>
                        <option>Select dropdown</option>
                        <option>Resistance</option>
                        <option>Capacitor</option>
                        <option>Inductor</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
            </div>
        </div>
        <div>
            <p class="title is-6">Values:</p>
            <label class="checkbox" id="E3CheckBox">
                <input type="checkbox"> E3
            </label>
            <label class="checkbox" id="E6CheckBox">
                    <input type="checkbox"> E6
            </label>
            <label class="checkbox" id="E12CheckBox">
                    <input type="checkbox"> E12
            </label>
            <label class="checkbox" id="E24CheckBox">
                    <input type="checkbox"> E24
            </label>
            <label class="checkbox" id="E48CheckBox">
                    <input type="checkbox"> E48
            </label>
            <label class="checkbox" id="E96CheckBox">
                    <input type="checkbox"> E96
            </label>
            <label class="checkbox" id="E192CheckBox">
                    <input type="checkbox"> E192
            </label>
        </div>
    </div>
</div>